<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Table Users</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Навбар</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Переключатель навигации">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Главная</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Ссылка</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="btn btn-primary" th:href="@{/login}" type="button">
            Logout
          </a>
        </li>

      </ul>
    </div>
  </div>
</nav>
<br>
<br>
<br>
<div class="container-sm">
  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-3 container justify-content-center card">
      <br>
      <h2 class="text-center"> Edit User </h2>
      <div class="card-body">
        <form th:action="@{/admin/{id} (id=${user.id})}" th:object="${user}" method="POST">
          <div class="form-group">
            <!--                                        <label> <b>First Name</b> </label>-->
            <label for="validationDefault01" class="form-label"><b>First Name</b></label>
            <input
                    type="text"
                    name="firstName"
                    th:field="*{firstName}"
                    class="form-control"
                    id="validationDefault01"
                    placeholder="Enter First Name"
                    required
            />
          </div>
          <br>
          <div class="form-group">
            <!--                                        <label> <b>Last Name</b> </label>-->
            <label for="validationDefault02" class="form-label"><b>Last Name</b></label>
            <input
                    type="text"
                    name="lastName"
                    th:field="*{lastName}"
                    class="form-control"
                    placeholder="Enter Last Name"
                    id="validationDefault02"
                    required
            />
          </div>
          <br>
          <div class="form-group">
            <!--                                        <label> <b>Age</b> </label>-->
            <label for="validationDefault03" class="form-label"><b>Age</b></label>
            <input
                    type="text"
                    name="lastName"
                    th:field="*{age}"
                    class="form-control"
                    placeholder="Enter Age"
                    id="validationDefault03"
                    required
            />
          </div>
          <br>
          <div class="form-group">
            <!--                                        <label> <b>Email</b> </label>-->
            <label for="validationDefault04" class="form-label"><b>Email</b></label>
            <input
                    type="email"
                    name="email"
                    th:field="*{email}"
                    class="form-control"
                    placeholder="Enter Email"
                    id="validationDefault04"
                    required
            />
          </div>
          <br>
          <div class="form-group">
            <!--                                        <label> <b>Password</b> </label>-->
            <label  class="form-label"><b>Password</b></label>
            <input
                    type="password"
                    name="password"
                    th:field="*{password}"
                    class="form-control"
                    placeholder="Enter Password"
            />
          </div>
          <br>
          <div>
            <label> <b>Role</b> </label>
            <select class="form-select" name="roles" th:field="*{roles}">
              <option th:value="ADMIN">ADMIN</option>
              <option th:value="USER">USER</option>
              <!--                                            <option th:value="USER,ADMIN">ADMIN,USER</option>-->
            </select>
          </div>
          <br>
          <div class="box-footer">

            <div class="d-grid gap-2 d-md-flex justify-content-md-end">

              <a th:href="@{/admin}"
                 class="btn btn-secondary me-md-2">Close</a>

              <button type="submit" class="btn btn-primary">
                Edit
              </button>

            </div>

          </div>
        </form>


      </div>
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
</body>
</html>